<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.experts.cartrack" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CartrackPlugin</name>
    <js-module name="CartrackPlugin" src="www/CartrackPlugin.js">
        <clobbers target="cordova.plugins.CartrackPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CartrackPlugin">
                <param name="android-package" value="com.outsystems.experts.cartrack.CartrackPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/CartrackPlugin.java" target-dir="src/com/outsystems/experts/cartrack/CartrackPlugin" />
         
         <!-- SDK Files -->
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <!-- END SDK Files -->
         
         <!-- Gradle -->
        <resource-file src="src/android/libs/blesdk-release_v3.0.aar" target="libs/blesdk-release_v3.0.aar" />
         <!-- END Gradle -->

         <!--<edit-config file="AndroidManifest.xml" target="/manifest/uses-sdk" mode="merge">
            <uses-sdk android:minSdkVersion="23" />
        </edit-config>-->

        <!-- Edit config.xml -->
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="GradlePluginKotlinEnabled" value="true" />
        </config-file>
        <!-- END Edit config.xml -->

         <!-- Edit AndroidManifest.xml -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
               <!-- New permissions Bluetooth android 12+ -->
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        </config-file>
        <!-- END Edit AndroidManifest.xml -->

          
    </platform>
    <platform name="ios">
        <preference name="BLUETOOTH_USAGE_DESCRIPTION" default="Bluetooth required to connect to MiKey Terminal"/>
        <preference name="BLUETOOTH_ALWAYS_USAGE_DESCRIPTION" default="Bluetooth required to connect to MiKey Terminal"/>

        <config-file parent="/*" target="config.xml">
            <feature name="CartrackPlugin">
                <param name="ios-package" value="CartrackPlugin" />
            </feature>
        </config-file>

        <!-- Hooks for Swift Support -->
        <hook type="before_plugin_add" src="hooks/install_prerequisites.js"/>
        <hook type="after_plugin_add" src="hooks/add_swift_support.js" />

        <!-- iOS Source Files -->
        <framework src="src/ios/framework/CartrackBleLockSDK.xcframework" embed="true" custom="true" />
        <source-file src="src/ios/CartrackPlugin.swift" />


        <!-- Bluetooth Permissions -->
        <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
                <string>$BLUETOOTH_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
                <string>$BLUETOOTH_ALWAYS_USAGE_DESCRIPTION</string>
        </config-file>

        <!-- Background Modes -->
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
                <array>
                    <string>bluetooth-central</string>
                    <string>bluetooth-peripheral</string>
                </array>
        </config-file>
    </platform>
</plugin>
